.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.logo {
  width: 300px;
  height: 70px;
  font-family: 'Cookie', cursive;
  color: black;
  margin: 0;
  font-size: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  color: white;
}

.navItem {
  width: 300px;
  height: 70px;
  font-family: 'Lora', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  color: white;
}
