.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 3000;
  overflow: hidden;
}

.divider {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 1;
}

.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 0;
}

.logo {
  width: 300px;
  height: 70px;
  font-family: 'Cookie', cursive;
  color: white;
  margin: 0;
  font-size: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  color: white;
  z-index: 1000;
}

.greets {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  flex-flow: row nowrap;
}

.greeting {
  width: 200px;
  height: 180px;
  font-family: 'Lora', serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  color: white;
  z-index: 1000;
  overflow: hidden;
}

.navItem {
  width: 200px;
  height: 70px;
  font-family: 'Lora', serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  color: white;
  z-index: 1000;
  overflow: hidden;
}
